In [14]:
type_df = pd.read_excel('data_tp/type.xlsx')
caracteristiques_df = pd.read_excel('data_tp/caracteristiques.xlsx')
etablissements_df = pd.read_excel('data_tp/etablissements.xlsx')
territoires_df = pd.read_excel('data_tp/territoires.xlsx')
adresses_df = pd.read_excel('data_tp/adresses.xlsx')

# 1. Chargement des données et nettoyage

In [13]:
import pandas as pd
import numpy as np

In [22]:
#Analyse de donnees
type_df.head()

,ETBL_ID,ETBL_TYPE_GENRE,ETBL_TYPE_ID,ETBL_TYPE_FR,ETBL_TYPE_EN,ETBL_TYPE_GRP_ID,ETBL_TYPE_GRP_FR,ETBL_TYPE_GRP_EN,ETBL_TYPE_CATG_ID,ETBL_TYPE_CATG_FR,ETBL_TYPE_CATG_EN
0,838721,principal,10819.0,Chalet / appartement / résidence de tourisme,Cottage / apartment / tourist home,NaN,NaN,NaN,10803,HÉBERGEMENT,LODGING/ACCOMMODATION
1,838774,principal,10819.0,Chalet / appartement / résidence de tourisme,Cottage / apartment / tourist home,NaN,NaN,NaN,10803,HÉBERGEMENT,LODGING/ACCOMMODATION
2,838885,principal,10811.0,Résidence étudiante,Student residence,NaN,NaN,NaN,10803,HÉBERGEMENT,LODGING/ACCOMMODATION
3,838963,principal,10807.0,Auberge de jeunesse,Youth hostel,NaN,NaN,NaN,10803,HÉBERGEMENT,LODGING/ACCOMMODATION
4,839010,principal,NaN,NaN,NaN,10817.0,Hôtel,Hotel,10803,HÉBERGEMENT,LODGING/ACCOMMODATION

In [26]:
# Vérification du nombre de valeurs NaN pour chaque colonne du DataFrame 'type_df'
valeurs_nan_par_colonne = type_df.isnull().sum()

# Affichage des résultats
print("Nombre de valeurs manquantes par colonne :")
print(valeurs_nan_par_colonne)

Nombre de valeurs manquantes par colonne :
ETBL_ID                 0
ETBL_TYPE_GENRE         0
ETBL_TYPE_ID         1370
ETBL_TYPE_FR         1370
ETBL_TYPE_EN         1370
ETBL_TYPE_GRP_ID     9380
ETBL_TYPE_GRP_FR     9380
ETBL_TYPE_GRP_EN     9380
ETBL_TYPE_CATG_ID       0
ETBL_TYPE_CATG_FR       0
ETBL_TYPE_CATG_EN       0
dtype: int64

# 2. Création trois nouvelles variables

# 3. Création de genre_zone